@import (reference) '../../css/const.less';

.WExample {
    & + & {
        margin-top: 1em;
    }

    iframe {
        display: block;
        padding: 0;
        border: 1px dotted rgba(0, 0, 0, 0.15);
    }

    &_mouseDown iframe {
        pointer-events: none;
    }

    &_platform_mobile &__content {
        width: 375px;
    }

    &_preset {
        &_iphone .WExample__content, &_iphone5 .WExample__content {
            width: 320px;
            height: 568px;
        }

        &_iphone6 .WExample__content {
            width: 375px;
            height: 627px;
        }

        &_nexus5 .WExample__content {
            width: 360px;
            height: 567px;
        }

        &_snippet .WExample__content {
            width: @serp-grid-col-width*12 + @serp-grid-gap-width*11;
            padding-left: 30px;
        }
    }

    &__content {
        box-sizing: border-box;
        display: none;
        padding: 12px;
        max-width: 100%;
        overflow: scroll;
    }

    &_transparent &__content {
        background-image:
            linear-gradient(45deg, #ccc 25%, transparent 25%,transparent 75%, #ccc 75%, #ccc 100%),
            linear-gradient(45deg, #ccc 25%, transparent 25%,transparent 75%, #ccc 75%, #ccc 100%);
        background-size: 16px 16px;
        background-position:0 0, 8px 8px;
    }

    &_loaded {
        display: block;
    }

    &_loaded &__content {
        display: inline-block;
        border: 1px dotted rgba(0, 0, 0, 0.15);
    }

    &_loaded &__container {
        display: inline-block;
        position: relative;
    }

    &_loaded &__preloader {
        display: none;
    }

    &_snippet &__content {
        width: @serp-grid-col-width*12 + @serp-grid-gap-width*11;
        padding-left: 30px;
    }

    &__code {
        max-width: 100%;
        // overflow-x: scroll;
        margin-top: 7px;
    }

    &__code-content code {
        box-sizing: border-box;
        font-family: Monaco, monospace !important;
        font-size: 12px !important;
        line-height: 1.3;
        padding: 7px !important;
        border: none !important;
        border-radius: 0 !important;
    }

    &__container {
        display: none;
    }

    &__handle {
        position: absolute;
        top: 50%;
        right: -2px;
        transform: translateY(-50%);
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        width: 3px;
        height: 20px;
        background: #fff;
        cursor: ew-resize;
        user-select: none;
    }
}
